<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCC_UNIFESP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TCC_UNIFESP.Properties.Settings>
            <setting name="TesteAberto" serializeAs="String">
                <value />
            </setting>
            <setting name="Coluna" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Coluna2" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Linha" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="FormatoGrafico" serializeAs="String">
                <value>jpg</value>
            </setting>
            <setting name="FormatoImagem" serializeAs="String">
                <value>jpg</value>
            </setting>
            <setting name="FormatoTexto" serializeAs="String">
                <value>doc</value>
            </setting>
            <setting name="Coluna2_Borda" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Linha_Borda" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Ponto" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Ponto_Borda" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CorGrafico" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="FormatoTesteDados" serializeAs="String">
                <value>txt</value>
            </setting>
            <setting name="ExcelDiferenca" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcelDados" serializeAs="String">
                <value>True</value>
            </setting>
        </TCC_UNIFESP.Properties.Settings>
    </userSettings>
</configuration>